[submodule "Client/livereload"]
	path = Client/livereload
	url = https://github.com/mockko/livereload.git
[submodule "Client/d3"]
	path = Client/d3
	url = https://github.com/mbostock/d3.git
[submodule "SmallWorld"]
	path = SmallWorld
	url = https://github.com/Terentyev/SmallWorld.git
